@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
}
nav {
    position: sticky;
    top: 0px;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    background-color: #212529;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.nav-link {
    padding: 1rem;
    font-weight: bold;
    color: #ffffff;
}
.nav-link:hover {
    color: #f76c6c;
}
.profile-photo {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -75%);
    border-radius: 50%;
    width: 200px;
}
#welcome-section {
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/15/1e/99/151e99f73bc7629406867e7f68dbf058.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1, p{
        position: absolute;
        top: 75%;
        left: 20%;
        transform: translate(-25%, -75%);
        text-align: center;
        color: rgb(24, 23, 23);
    }
    p {
        top: 90%;
        transform: translate(-15%, -60%);
    }
}
.project-fade {
    opacity: 0;
    transition: ease-in .4s;
    transform:translate(-40vw)
}
.project-fade-in {
    opacity: 1;
    transition: ease-out .4s;
}

#projects {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a {
        position: relative;
        width: 70vw;
        margin: 1em 0;
        .project-tile {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 1.5em;
            background: rgba(29, 106, 154, 0.72);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: opacity .5s, visibility .5s;
            margin: 1em 0;
            border-radius: 10px 10px 0 0;
        }
    }
    a:hover .project-tile {
        visibility: visible;
        opacity: 1;
    }
    img {
        width: 100%;
        height: 80vh;
    }
    i {
        font-size: 2em;
        border-radius: 50%;
    }
    span {
        position: absolute;
        top: 110%;
        z-index: 4;
    }
}
#contact p a {
    display: inline;
}
.contact {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    ul {
        list-style-type: none;
    }
    li {
        display: flex;
        align-items: flex-end;
        p {
            color: white;
            font-size: 20px;
        }
        i {
            margin: 0 5px;
        }
    }
    .contact-input input, textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        padding: 10px 0;
        outline: none;
        margin-bottom: 20px;    
    }
    .contact-form {
        justify-content: center;
        width: 40vw;
        height: 80vh;
        padding: 20px;
    }
    .contact-form, .contact-input {
        display: flex;
        flex-direction: column;
    }
}
.info-contact {
    display: none;
    background-color: #212529;
    justify-content: space-between;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: fadeInUp 0.5s 0.5s forwards;
    opacity: 0;
    ul li i {
        font-size: xx-large;
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}
/******************************************footer**********************************************************/
.footer {
    background-color: #212529;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 16px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}


/**********************************      media query      *******************************************/
@media(max-width: 1024px) {
    .profile-photo {
        left: 35%;
        transform: translate(-25%, -75%);
    }
    .nav {
        justify-content: center;
    }
    .nav-link {
        padding: 0.5rem 0.5rem;
    }
    #welcome-section {
        h1, p {
        transform: translate(-10%, -75%);
        }
    }
    #projects {
        img {
            width: 100vw;
            height: 50vh;
        }
        i {
            position: absolute !important;
            z-index: 3;
        }
        #right-button {
            left: 80% !important;
        }
        #left-button {
            right: 80% !important;
        }
        a {
            width: 100%;
        }
        span {
            top: 115%;
            text-align: center;
        }
    }
    .contact {
        align-content: flex-end;
    }
    .contact > div {
        text-align: center;
    }
    #contact-form {
        width: 90vw;
    }
    .info-contact {
        width: 80vw;
        ul li i {
            font-size: 2em;
        }
        .copy-icon {
            display: none;
        }
    }
}