@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: sticky;
  top: 0px;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-color: #212529;
  z-index: 1;
}

.profile-photo {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -75%);
  border-radius: 50%;
  width: 200px;
}

#welcome-section {
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/15/1e/99/151e99f73bc7629406867e7f68dbf058.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#welcome-section h1, #welcome-section p {
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-25%, -75%);
  text-align: center;
  color: rgb(24, 23, 23);
}
#welcome-section p {
  top: 90%;
  transform: translate(-15%, -60%);
}

.project-fade {
  opacity: 0;
  transition: ease-in 0.4s;
  transform: translate(-40vw);
}

.project-fade-in {
  opacity: 1;
  transition: ease-out 0.4s;
}

#projects {
  background-color: rgba(0, 0, 0, 0.442);
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#projects a {
  position: relative;
  width: 70vw;
  margin: 1em 0;
}
#projects a .project-tile {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5em;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  margin: 1em 0;
  border-radius: 10px 10px 0 0;
}
#projects a:hover .project-tile {
  visibility: visible;
  opacity: 1;
}
#projects img {
  width: 100%;
}
#projects i {
  font-size: 2em;
  border-radius: 50%;
}

#contact p a {
  display: inline;
}

.contact {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.contact ul {
  list-style-type: none;
}
.contact li {
  display: flex;
  align-items: flex-end;
}
.contact li p {
  color: white;
  font-size: 20px;
}
.contact li i {
  margin: 0 5px;
}
.contact .contact-input input, .contact textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px 0;
  outline: none;
  margin-bottom: 20px;
}
.contact .contact-form {
  justify-content: center;
  width: 40vw;
  height: 80vh;
  padding: 20px;
}
.contact .contact-form, .contact .contact-input {
  display: flex;
  flex-direction: column;
}

.info-contact {
  display: none;
  background-color: #212529;
  justify-content: space-between;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: fadeInUp 0.5s 0.5s forwards;
  opacity: 0;
}
.info-contact ul li i {
  font-size: xx-large;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/**********************************      media query      *******************************************/
@media (max-width: 1024px) {
  .profile-photo {
    left: 35%;
    transform: translate(-25%, -75%);
  }
  .nav-link {
    padding: 0.5rem 0.5rem;
  }
  #welcome-section h1, #welcome-section p {
    transform: translate(-10%, -75%);
  }
  #projects {
    height: auto;
  }
  #projects img {
    width: 100vw;
    height: 60vh;
  }
  #projects i {
    position: absolute !important;
    z-index: 3;
  }
  #projects a {
    width: 100%;
  }
  .contact > div {
    text-align: center;
  }
  #contact-form {
    width: 90vw;
  }
  .info-contact {
    width: 80vw;
  }
  .info-contact ul li i {
    font-size: 2em;
  }
  .info-contact .copy-icon {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */